/* mobile first view */

    .container1 {
        max-width:100%;
        display:flex;
    }

    .container2 {
        max-width:100%;
        display:flex;  
    }

    .abcd {
        max-width: 100%;
        min-width:480px;
        background-color: rgb(30, 255, 0);
        border: solid;
    }

    .efgh {
        position:inline-flex;
        max-width: 100%;
        min-width:250px;
        background-color: blue;
        border: solid;
    }

    
    #a {
        min-height: 75px;
    }
    
    #b {
        min-height: 150px;
    }
    
    #c {
        min-height: 125px;
    }
    
    #d {
        min-height: 125px;
    }
    
    #e {
        min-height: 250px;
        min-width:50%;
        float: left;
    }
    
    #f {
        min-height: 250px;
        min-width: 50%;
        float:right;
    }
    
    #g {
        min-height: 250px;
        min-width: 50%;
        float:left;
    }
    
    #h {
        min-height: 250px;
        min-width: 50%;
        float:right;
    }
    
    
    #i {
        position: block;
        max-width: 100%;
        min-width: 480px;
        min-height:80px;
        background-color: aquamarine;
        border: solid;
    }


@media only screen and (min-width: 768px){


    .abcd {
        background-color: red;
        border: solid;
        
    }


}
